<h1>About NewFav</h1>
<div class="container">
    <h4>About us:</h4>
    <p>Welcome to <strong>NewFav</strong>, a cutting-edge social network designed for enthusiasts of all things
        entertainment. New Fav sets itself apart by initially focusing on the world of music, allowing users to
        seamlessly share and enjoy their favorite tunes with friends.
    </p>
    <p><em>Mood Matching:</em> Tell us how you feel, and we'll curate a playlist that suits your mood. From upbeat tunes for energetic days to soothing melodies for moments of relaxation.</p>
    <p><em> Genre Preferences:</em> Specify your favorite genres, and we'll recommend tracks that match your musical taste.</p>
    <p><em>Astrological Sings:</em> Discover songs that align with your horoscope. Our algorithm selects tracks that resonate
        with the energy of your zodiac sign.</p>
    <p><em>Daily Picks:</em> Our team of music enthusiasts handpicks a daily gem, ensuring you're always in the loop with the
        latest music trends.</p>

    <h4> Sobre Nosotros </h4>
    <p>
        Bienvenido a <strong>NewFav</strong>, una red social de vanguardia diseñada para los entusiastas de todo el
        entretenimiento. New Fav se distingue por centrarse inicialmente en el mundo de la música, lo que permite a los
        usuarios compartir y disfrutar de sus canciones favoritas con amigos, en un entorno dinámico para que los amantes de la música conecten, descubran y amplifiquen su pasión.
    </p>
    <p><em>Vibras:</em> Dinos cómo te sientes y seleccionaremos una lista de reproducción que se adapte a tu estado de ánimo.</p>
    <p><em> Gusto musical:</em> Especifique sus géneros favoritos, y le recomendaremos pistas que coincidan con su gusto musical.</p>
    <p><em>Horoscopo:</em>  Descubre canciones que se alinean con tu horóscopo. Nuestro algoritmo selecciona pistas que resuenan con la energía de tu signo zodiacal.</p>
    <p><em>Seleccion diaria:</em> Nuestro equipo de entusiastas de la música escoge una joya diaria, asegurando que siempre esté en el bucle con las últimas tendencias musicales.</p>
</div>

    