.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-color: #f5f5f5;
}

.logo {
    height: 130px;
    margin-bottom: 10px;
}

.cuerpo{
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    text-align: center;
}
a{
    color: rgb(34, 87, 193);
}
p{
    color: black;
}