<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <title>My Spotify Profile</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">    

  </head>
  <body>
    <h1>Display your Spotify profile data</h1>

    <section id="profile">
      <h2>Logged in as <span id="displayName"></span></h2>
      <img id="avatar" width="200" src="#" />
      <ul>
        <li>User ID: <span id="id"></span></li>
        <li>Email: <span id="email"></span></li>
        <li>Spotify URI: <a id="uri" href="#"></a></li>
        <li>Link: <a id="url" href="#"></a></li>
        <li>Profile Image: <span id="imgUrl"></span></li>
      </ul>
      <div>
        <h3>Rock</h3>

        <div class="category" *ngFor="let item of rockList">
          <div>
            <img src="{{item.images.url}}" >
          </div>
        </div>

      </div>
    </section>
  </body>
</html>
