<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <title>My Spotify Profile</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">    

  </head>
  <body>
    <h1>Recomendados</h1>

        <h3>Rock</h3>

        <div class="category" *ngFor="let item of rockList">
          <div>
            <img src="{{item.track.album.images[1].url}}">
            <p>Name: {{item.track.name}}, Artist: {{item.track.artists[0].name}}</p>
          </div>
        </div>

        <h3>Pop</h3>
        <div class="category" *ngFor="let item of popList">
          <div>
            <img src="{{item.track.album.images[1].url}}">
            <p>Name: {{item.track.name}}, Artist: {{item.track.artists[0].name}}</p>
          </div>
        </div>

        <h3>Hip Hop</h3>
        <div class="category" *ngFor="let item of hipHopList">
          <div>
            <img src="{{item.track.album.images[1].url}}">
            <p>Name: {{item.track.name}}, Artist: {{item.track.artists[0].name}}</p>
          </div>
        </div>
        
  </body>
</html>
