<app-nav-bar></app-nav-bar>

    <div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal"> <strong> Bienvenido a New Fav </strong> </h1>
        <p class="fs-5 text-muted">{{ dataUser?.email }}</p>
        <p class="lead text-body-secondary">
          <strong>
            Welcome to New Fav, a cutting-edge social network designed for enthusiasts of all things entertainment. New Fav sets itself apart by initially focusing on the world of music, allowing users to seamlessly share and enjoy their favorite tunes with friends. Our platform provides a dynamic and immersive environment for music lovers to connect, discover, and amplify their passion.
          </strong>
        </p>
        
      </div>
      
      <section class="arribita pricing-header p-3 pb-md-4 mx-auto text-center">
          <div class="col-lg-6 col-md-8 mx-auto row py-lg-5">
            <h2 class="fw-light"> Como se siente: </h2>
            <p class="lead text-body-secondary">Seleccione su mood. </p>
            <p>
          </div>
          <div class="col-lg-6 col-md-8 mx-auto row py-lg-5">
            <h2 class="fw-light"> <strong>Horoscopo</strong> </h2>
            <p class="lead text-body-secondary">Seleccione su horoscopo. </p>
            <p>
          </div>
      </section>
  </div>

<section class="main">

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
          <h2 class="musicNAME mb-3 mt-3">Rock</h2>
<div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img class="img" src="../../../assets/img/login.png" >     
                    <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Listen</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="img" src="../../../assets/img/login.png" >    
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Listen</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="img" src="../../../assets/img/login.png" >    
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Listen</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
</div>
          <h3 class="musicNAME mb-3 mt-3"> Pop </h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">      
          <div class="col">
            <div class="card shadow-sm">
              <img class="img" src="../../../assets/img/login.png" >    
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Listen</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="img" src="../../../assets/img/login.png" >    
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Listen</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="img" src="../../../assets/img/login.png" >    
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Listen</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>
   <h3 class="musicNAME mb-3 mt-3" > Trap </h3>       
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> 
          <div class="col">
            <div class="card shadow-sm">
              <img class="img" src="../../../assets/img/login.png" >    
                <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Listen</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="img" src="../../../assets/img/login.png" >    
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Listen</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="img" src="../../../assets/img/login.png" >    
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Listen</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  





</section>