<!-- <header class="  d-flex flex-wrap align-items-center justify-content-start justify-content-md-between py-3 mb-4 border-bottom"> -->
<header class="nav-bar"> 
  <ul class="nav-buttons">
    <li><a class="btn-nav" href="/profile" >Profile</a></li>
    <li><a class="btn-nav" href="/playlist" >Playlist</a></li>
    <li><a class="btn-nav" href="/new-playlist" >New Playlist</a></li>
    <li><a class="btn-nav" href="/features" >Future Features</a></li>
    <li><a class="btn-nav" href="/about" >About</a></li>
  </ul>
  <div>
    <button type="button" class="logout-btn" (click)="logOut()">LogOut</button>
  </div>
</header>


  <!-- <header class=" bg-body-tertiary d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"> -->
