<app-nav-bar></app-nav-bar>
<section>
  <fieldset>
    <legend>Nueva Lista</legend>
    <form id="form" [formGroup]="form" (ngSubmit)="saveList()">
      <div class="field">
        <label for="title">Title: </label>
        <input type="text" id="title" formControlName="title" />
      </div>
      <div class="field">
        <label for="description">Description: </label>
        <input type="text" id="description" formControlName="description" />
      </div>
      <div class="field">
        <input type="submit" value="Crear Lista" />
      </div>
    </form>
  </fieldset>
</section>
<app-footer></app-footer>
