:host {
  display: block;
}
.new-playlist-section{
  background-color: #171c32;
  height: 80rem;
}
legend{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 100;
    letter-spacing: .5rem;
    margin: 4rem;
    font-size: 4rem;
    opacity: .7;
    text-align: center;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset{
  width: 50%;
}
.field{
  display: flex;
  justify-content: left;
  margin-bottom: 3rem;
}
.btn-submit{
  display: flex;
  justify-content: right;
  width: 100%;
}
label{
  font-size: 2rem;
  width: 20%;
  margin: 1rem;
}
.info-input{
  width: 60%;
  background-color: #171c32;
  border-left: rgba(255, 255, 255, 0.486) solid 0.1rem;
  border-bottom: rgba(255, 255, 255, 0.486) solid 0.1rem;
  border-top: none;
  border-right: none;
}
.info-input:focus{
  outline: none;
}
.create-btn{
  margin-top: 2.4rem;
  padding: 1rem;
  width: 12rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  color: rgba(255, 255, 255, 0.74);

}
