<app-nav-bar></app-nav-bar>
<section class="contacto">
    <h1>NewFav Contacto</h1>
    <div class="container">
        <h4>Contacto:</h4>
        <p>Ante cualquier consulta sobre  <strong>NewFav</strong> y su uso, no dude en contactarnos.
        </p>
        
        <h5>
            <strong>Tomas Urroz:</strong>
        </h5>
        <p>  <u>Email:</u>    tomas.urroz@hotmail.com </p>
        <p>  <u>Telefono:</u>  +54 9 1152799721</p>
        <p>  <a href="https://www.linkedin.com/in/tom%C3%A1s-urr%C3%B3z-126771201/"><u>Linkdin - </u></a> 
             <a href="https://github.com/TomasUrroz"><u>GitHub</u></a></p>

        <h5>
            <strong>Magdalena Martins:</strong>
        </h5>
        <p>  Email:    magdalena.martins@hotmail.com </p>
        <p>  Telefono:  +54 9 1152799721</p>       
        <p> <a href="https://www.linkedin.com/in/magdalenamartins/"><u>Linkdin - </u></a> 
            <a href="https://github.com/MaguiMartins"><u>GitHub</u></a></p>

    </div>
</section>
<app-footer></app-footer>