<app-nav-bar></app-nav-bar>
<main class="contenedora">
    <h2>Tareas</h2>

      <table style="text-align: center;" border="1">
        <thead>
          <tr>
            <th>   #   </th>
            <th> Name </th>
            <th> Artist </th>
            <th> Duration </th>
            <th> Reviews </th>
            <th> Remove </th>
          </tr>
        </thead>
        <tbody>
            <tr >
                <td>1</td>
                <td>flowers</td>
                <td>miley cyrus</td>
                <td>3:45</td>
                <td>alta cancion</td>
                <td><button>X</button></td>
                
              </tr> 
              <tr >
                <td>1</td>
                <td>flowers</td>
                <td>miley cyrus</td>
                <td>3:45</td>
                <td>alta cancion</td>
                <td><button>X</button></td>
                
              </tr> 
          <!-- <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.done }}</td>
            <td><button (click)="eliminarTask(task.id!)">X</button></td>
            <td><button [routerLink]="['/editar',task]">Edit</button></td> 
          </tr> -->
        </tbody>
      </table>
    </main>