<app-nav-bar></app-nav-bar>
<main class="contenedora">
  <h2>Playlist</h2>

  <h3 class="musicNAME">Pop</h3>
  <section class="recoGenero">
    <div class="album" *ngFor="let item of ">
      <div class="containerTres">
        <div class="col">
          <div class="card">
            <img class="img" src="newFav\src\assets\img\login.png" />
            <div class="card-body">
              <p class="card-text">
                Nombre <br />
                Artista
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.done }}</td>
            <td><button (click)="eliminarTask(task.id!)">X</button></td>
            <td><button [routerLink]="['/editar',task]">Edit</button></td> 
          </tr> -->
</main>
