<section class="contenedora">
  <h2>PLAYLISTS</h2>
  <div class="playlists-container" *ngFor="let item of list">
    <div class="playlist-title">
      <h3 class="playlist-name">{{item.title}}</h3>
      <p class="playlist-desc">
      {{item.description}}
      </p>
      <a class="delete-playlist-btn btn" (click)="deletePlaylist(item.id)">Delete Playlist</a>
    </div>
    <div class="albumes">
      <div class="song-padre" *ngFor="let song of item.songs">
        <img class="img" src="{{ song.imageUrl }}" />
        <div class="song-card">
                <p class="song-info">
                  {{ song.name }} <br />{{
                    song.artist
                  }}
                </p>
        </div>   
        <div class="btn-div">
          <a
            href="{{
              'https://open.spotify.com/track/' + song.id
            }}"
            target="”_blank”"
            class="spotify-btn btn-2"
          >
            Listen
          </a>
          <a class="spotify-btn btn-2" (click)="deleteSong(item.id ,song.id)">Remove</a>
      </div>
      </div>
    </div>
  </div>

  <!-- <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.done }}</td>
            <td><button (click)="eliminarTask(task.id!)">X</button></td>
            <td><button [routerLink]="['/editar',task]">Edit</button></td> 
          </tr> -->
</section>
