@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

.contenedora {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; 
    color: white; 
    background-color: #171c32;
  }
  
  table {
    border-collapse: collapse;
    width: 80%; 
    margin-top: 20px; 
    border-radius: 10px; 
    overflow: hidden;
  }

  button {
    padding: 5px 10px;
    background-color: #8d7a77; 
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cc0000;  
  }

h2{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Permanent Marker', cursive;
    margin: 1.5rem;
    font-size: 3.5rem;
}

.playlist-title{
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 100%;
  text-align: center;
  align-items: center;
  background-color: #1b192f;
  border-radius: 4rem 0rem 0rem 4rem;
}
.music-name{
  margin-top: 7rem;
}

.containerALTO {
  background-image: url('../../../assets/img/sunrise.jpg');
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.leadDescription{
display: flex;
align-items: center;
justify-content: center;
max-width: 80%;
margin: auto; 
text-align: center;
font-size: 1.2em; 
margin-bottom: 20px;
}

.p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.cancionRecomendada {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px; 
  backdrop-filter: blur(8px); 
}

.image-container {
  flex: 0 0 150px; 
  margin-right: 20px;
}

.image-container img {
  width: 75%;
  border-radius: 8px; 
}

.text-container {
  flex: 1; 
}

.arribita{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.containerDOS {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.button-containerDOS {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  width: 90px;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
}

.containerUNO {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.button-containerUNO {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90px;
  height: 40px;
  background-color: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.button-containerUNO:hover {
  background-color: #0056b3;
}
.button-containerDOS:hover {
  background-color: #0056b3;
}



*, ::after, ::before {
  box-sizing: border-box;
}

.albumes{
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.albumes ::-webkit-scrollbar{
  width: 0;
}


.song-padre{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1rem 0rem 1rem;
  width: 30%;
}
.song-info{
  text-align: center;
}
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 14rem;
  border-radius: 10%;
  margin-top: 1.5rem;
}

.button-recomendada{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  width: 90px;
  height: 40px;
  margin: 1px auto;
  text-decoration: none;
  color: #ffffff;
}
.button-recomendada:hover {
  background-color: #45505c;
}
.delete-playlist-btn{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  background-color: #14162b;
  width: 70%;
  padding: 0.6rem;
  border-radius: 0.5rem;
}
.delete-playlist-btn:hover{
  cursor:pointer;
  background-color: #1e1427;
}
h3{
  margin: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.playlists-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 9rem;
  border: #14162b solid 0.1rem;
  width:65%;
  height: 24rem;
  background-color:#14162b;
  border-radius: 4rem;

}